.subtitle-card {
  text-align: left;
  width: 88%;
}
.subtitle-card-body div {
  height: 30px;
}
.card-btns-wrapper {
  display: flex;
  margin: 20px;
}
.button-group {
  display: flex;
  flex-wrap: wrap;
  width: 12%;
}
.delete-subtitle {
  margin: 5px;
  padding: 3px;
}
.show-both {
  margin: 5px;
  padding: 3px;
}
.show-one {
  margin: 5px;
  padding: 3px;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
