.creation-container div {
  margin: auto;
}
.creation-title {
  font-size: 40px;
  color: #4146be;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.search-input {
  width: 70%;
  padding: 50px;
}

.creation-options {
  display: flex;
  width: 30%;
}
.creation-options select {
  margin: 7px;
}
