.page-title {
  font-size: 120px;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
  color: #9497de;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
