.home-container {
  padding: 100px;
}
.home-container div {
  margin: auto;
}
.home-title {
  font-size: 40px;
  font-weight: 700;
}

.search-input {
  width: 70%;
  padding: 50px;
}

.home-options {
  display: flex;
  width: 50%;
}
