.card-container {
  width: 70%;
  margin: auto;
  padding: 100px;
}
.subtitle-card {
  text-align: left;
  width: 90%;
}
.movie-title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  width: 70%;
}
.search-word {
  width: 30%;
}
.card-head {
  display: flex;
}
.card-btns-wrapper {
  display: flex;
}
.button-group {
  display: flex;
  flex-wrap: wrap;
  width: 10%;
}
