.header {
  display: flex;
  justify-content: space-between;
  background-color: #4146be;
}
.logo {
  margin-left: 100px;
  font-weight: 900;
  font-size: xx-large;
  color: white;
}
.logo a {
  text-decoration: none;
}
.logo h1 {
  font-weight: 700;
  padding: 10px;
  color: white;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
.navigationLinks {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navigationLinks a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.navigationLinks a:hover {
  font-size: 18px;
  cursor: pointer;
}
