.header {
  display: flex;
  justify-content: space-between;
  background-color: #4146be;
}
.logo {
  margin-left: 100px;
  font-weight: 900;
  font-size: xx-large;
  color: white;
}
.logo a {
  text-decoration: none;
}
.logo h1 {
  font-weight: 700;
  padding: 10px;
  color: white;
}
.navigationLinks {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navigationLinks a {
  color: white;
  margin-right: 15px;
}
